$black:#434446;
$light_bleu:#008dc9; /*#4fbdf4*/
$text_color: $black;
$dark_bleu: #253761;
$sky_bleu: #5C99B2;
$petrol_bleu: #527888;
$red: #d2001a; //#e66d71;
$sun_flower_yellow:#F9DA1B;
$lemon_yellow:#FFF48F;

$title_color: $black;
$max-width:688px;

$left_bar_background:$black;
$left_bar_color:#fff;
$button_background_color:$sky_bleu;
$progress_color:$petrol_bleu;

$background_mobile:$black;
$background_mobile_goals:$black;
$color_mobile:#fff;
$mobile_h1_dashboard_color:$color_mobile;

$in_lesson_steun_kleur:$petrol_bleu;
$button_background:$sun_flower_yellow;
$button_color:$black;

$goal_btn_class:"";
