.theme_1 {
  .btn{
    line-height: 1.6;
  }
  .btn-primary,
  .btn-primary.next{
    background: $button_background !important;
    border-color:$button_background !important;;
    color:$button_color !important;
    /*font-weight: bold;*/
    font-size: 16px;
    height: 44px;
    line-height: 2;
  }
  .btn-primary.prev{
    background: #fff !important;
    border-color:#A1BDCA !important;;
    color:#A1BDCA !important;
    /*font-weight: bold;*/
    font-size: 16px;
    height: 44px;
    line-height: 2;
  }
  .btn.red{
    background: $red !important;
    border-color:$red !important;;
    color:#fff !important;
    font-weight: bold;
    line-height: 1.6;
    &:hover{
      background: #fff !important;
      color:$red !important;
    }
  }
}
@media (max-width:$breakpoint) {
  .theme_1{
    .btn-primary.prev,
    .btn-primary.next{
      font-size: 16px;
      line-height: 1.7;
    }
  }
}
