$black:#000;
$light_bleu:#e1f4fd; /*#4fbdf4*/
$text_color: $black;
$dark_bleu: #002e47;
$bleu: #00558f;
$bleu_1: #0073ae;
$light_bleu: #00a1e4;
$light_bleu_2: #8dd0f3;
$light_bleu_3: #e1f4fd;
$orange: #f5821e; //#e66d71;
$red: #d2001a; //#e66d71;

$title_color: $dark_bleu;
$max-width:688px;

$left_bar_background:$dark_bleu;
$left_bar_background_stress:$dark_bleu;
$left_bar_background_chat:$dark_bleu;
$left_bar_color:#fff;
$button_background_color:$light_bleu;
$progress_color:$bleu_1;

$background_mobile:$light_bleu_3;
$background_mobile_goals:$light_bleu_3;
$color_mobile:$bleu;
$mobile_h1_dashboard_color:$color_mobile;

$in_lesson_steun_kleur:$light_bleu;
$in_lesson_steun_kleur_tegenhanger:#fff;
$button_background:$light_bleu;
$button_color:#fff;

$menu_active:$light_bleu;
$tab_accordion_background:$light_bleu;

$message_sent_background:$light_bleu_3;
$message_recieved_background:#f8e87a;

$goal_btn_class:"";

$profile_button_background:#fff;
$profile_button_color:$black;

$confettiOverlay:#fff;
$speechBalloon:$light_bleu_3;
