@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.loginScreen{
  /*font: 300 16px/24px Montserrat;*/
  font-family: 'Arvo', serif;///wilde google fonts graag
  font-family: 'PT Sans', sans-serif;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #f96259;
  /*background:url('../images/test.png');*/
  color:#212121;
  overflow: hidden;
  border-bottom:80px solid #ec554c;
  .alert-danger {
    background: #f96259 !important;
    color: #fff !important;
    border-color: #f96259 !important;
  }
  .new_sms_code{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
  }
  &.reset_pw{
    .forgotPassword{
      float: left;
      padding-left: 0 !important;
    }
  }
  &.is_reset{
    a:not(.btn){
      color: #52328f;
      font-weight: bold;
    }
  }
  &.is_reset,
  &.reset{
    text-align: center;
  }
  &:before{
    content: "";
    position: fixed;
    right: -50%;
    top:50%;
    height: 100vw;
    width: 100vw;
    background: #ec554c;
    opacity: 0.4;
    z-index: 0;
    transform: rotate(-45deg);
  }
  .navbar {
    /*background: #fff;
    height: 130px;*/
    display: none;
  }
  #loginContainer{
    width: 450px;
    max-width: 90%;
    top: 54%;
    left:50%;
     border-radius: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 30px;
    &:before{
      content:'';
      top: -90px;
      margin-left: -140px;
      left: 50%;
      position: absolute;
      background:url('../images/logo_wit.svg');
      background-size: cover !important;
      width: 279px;
      height: 43px;
    }
    input[type="text"]{
      font-size: 16px;
    }
    table{
      width:100%;
      td:nth-child(1) .btn{
        padding-left: 0;
      }
      td:nth-child(2){
        text-align: right;
      }
    }
    .forgotPassword{
      border-radius: 0 !important;
      padding-right: 0 !important;
      padding-bottom: 5px !important;
      &:hover {
        border-bottom:1px solid;
      }
    }
    .btn{
      padding: 15px 20px;
      border-radius: 30px;
      height: 54px;
      line-height: 1.5;
      font-size: 16px;
      font-weight: normal;
      &.btn-primary{
        background: #52328f  !important;
        border-color: #52328f  !important;
        &:hover{
          background: #fff !important;
          color:#52328f !important;
        }
      }
    }
    h3{
      text-transform: uppercase;
      text-align: center;
    }
  }
}
