$black:#000;
$red: #d93d3f;
$dark_grey: #61758c;
$grey:#b0bac6;
$grey2:#f3f3f4;
$grey3:#dfe3e8;
$bleu:#141a30;
$bleu2:#9fc7e0;
$orange:  #fd6b3c;;
//$orange_2:  #fef1df;
$orange_2:  #F3F6C7;
$yellow:#fac31f;

$font_family:'Titillium Web',sans-serif;
$font_family_2:'Titillium Web',sans-serif;
//$font_family:'Calibri',sans-serif;
//$font_family_2:'Calibri',sans-serif;

$text_color: $bleu;

$title_color: $bleu;
$max-width:688px;

$bg_gradient:linear-gradient(45deg,rgba(209,37,57,1) 0%,rgba(237,117,76,1) 100%);

$left_bar_background:$orange_2;
$left_bar_background_stress:$orange_2;
$left_bar_background_chat:$orange_2;
$left_bar_color:$bleu;

$button_background_color:$bleu;
$button_border_radius:50px;
$progress_color:$orange_2;

$background_mobile:$orange_2;
$background_mobile_goals:$orange_2;
$color_mobile:$bleu;
$mobile_h1_dashboard_color:$color_mobile;

$in_lesson_steun_kleur:$orange;
$in_lesson_steun_kleur_tegenhanger:#fff;
$button_background:$orange;
$button_color:#fff;

$menu_active:$bleu;
$tab_accordion_background:$bleu;
$tab_accordion_color:#fff;

$message_sent_background:$bleu;
$message_recieved_background:$orange_2;
$message_color:#fff;

$goal_btn_class:"";

$profile_button_background:#fef1df;
$profile_button_color:$black;

$confettiOverlay:'none';
$speechBalloon:$bleu;

$quote_omkaderd:#fff;

$table_head_bg:$orange_2;
$table_head_color:$bleu;

$flip_card_front:$orange_2;
$flip_card_front_color:#fff;
$flip_card_back:$grey2;
$flip_card_back_color:$dark_grey;

$menu_phone_background:#fff;

$courses_color:$bleu;
$courses_card_bg:none;
