.loginScreen{
  /*font: 300 16px/24px Montserrat;*/
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #f8e3b6;
  color:#065566;
  overflow: hidden;
  #loginContainer{
    width: 450px;
    max-width: 90%;
    top: 50%;
    left:50%;
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 30px;
    background: #fff;
    table{
      width:100%;
      td:nth-child(1) .btn{
        padding-left: 0;
      }
      td:nth-child(2){
        text-align: right;
      }
    }
    .reset{
      text-align: center;
    }
    .btn{
      padding: 15px 20px;
      border-radius: 30px;
      height: 54px;
      line-height: 1.5;
      font-size: 16px;
      font-weight: normal;
      &.btn-primary{
        background: #f9876c !important;
        border-color: #f9876c !important;
      }
    }
    h3{
      text-transform: uppercase;
      text-align: center;
      &.marge_bottom{
        margin-bottom: 20px;
      }
    }
  }
}
