$black:#000;
$red: #c70d30;
$dark_grey: #61758c;
$grey:#b0bac6;
$grey2:#eff1f4;
$grey3:#dfe3e8;
$bleu:#61a8cc;
$bleu2:#9fc7e0;

$font_family_2:'Open Sans';

$text_color: $black;

$title_color: $red;
$max-width:688px;

$left_bar_background:url("../../../custom/themes/1/images/patroon.svg");
$left_bar_background_stress:url("../../../custom/themes/1/images/patroon.svg");
$left_bar_background_chat:url("../../../custom/themes/1/images/patroon.svg");
$left_bar_color:$dark_grey;

$button_background_color:$red;
$progress_color:$red;

$background_mobile:#fff;
$background_mobile_goals:#fff;
$color_mobile:$red;
$mobile_h1_dashboard_color:$color_mobile;

$in_lesson_steun_kleur:$red;
$in_lesson_steun_kleur_tegenhanger:#fff;
$button_background:$red;
$button_color:#fff;

$menu_active:$dark_grey;
$tab_accordion_background:$grey2;
$tab_accordion_color:$dark_grey;

$message_sent_background:$bleu2;
$message_recieved_background:#f8e87a;
$message_color:$dark_grey;

$goal_btn_class:"";

$profile_button_background:#fff;
$profile_button_color:$black;

$confettiOverlay:'none';
$speechBalloon:$bleu;

$quote_omkaderd:$grey2;

$table_head_bg:$dark_grey;
$table_head_color:#fff;

$flip_card_front:$dark_grey;
$flip_card_front_color:#fff;
$flip_card_back:$grey2;
$flip_card_back_color:$dark_grey;

$menu_phone_background:url("../../../custom/themes/1/images/patroon.svg");
