.theme_3{
  .lessoncontent.front{
    .left{
      .btn.back{
        color:$color;
      }
    }
    .feedback{
      .question{
        font-weight: bold;
      }
    }
    input[type="checkbox"]:checked + label::before, input[type="radio"]:checked + label::before{
      background: #2F7484;
    }
    input[type="checkbox"] + label::before, input[type="radio"] + label::before{
      border-color: $list-item-color;
    }
    input[type="checkbox"] + label::after,
    input[type="radio"] + label::after {
        background: $list-item-color;
        border-color: $list-item-color;
    }
    label{
      font: 300 16px/24px $font;
    }
    .right {
      .component {
        font: 300 16px/24px $font;
        .special_table table thead,
        .list ul li .before {
          background: $list-item-color;
          color:#fff;
        }
        .tabContent .item,
        .tabs .item.content_visible{
          background: $list-item-color;
          border:1px solid $list-item-color !important;
        }
        .accordion .tabs{
          .item{
            border-color: $list-item-color;
            color:$list-item-color;
          }
        }
        .accordion .items {
          border-color: $list-item-color;
          .item{
            background: $list-item-color;
            border:1px solid $list-item-color !important;
          }
        }
        .cards {
          .front .front{
            box-shadow: none;
            background: $btn-primary-background !important;
            color:#fff;
            .btn{
              background: $btn-primary-background !important;
              border-color:#fff !important;
              color:#fff;
            }
          }
          .list ul li .flip-card .inner .back{
            background: #ededed;
            .btn{
              background: #ededed !important;
              border-color:$color !important;
              color:$color;
            }
          }
        }

      }
    }

  }
}
