.theme_4 {
  .btn{
    line-height: 2.5;
    height: 53px;
    &.delete,
    &.edit{
      &:hover{
        color:#fff !important;
      }
    }
  }
  .btn-primary,
  .btn-primary.next{
    background: $button_background !important;
    border:1px solid $button_background !important;;
    color:$button_color !important;
    border-radius: $button_border_radius !important;
    /*font-weight: bold;*/
    font-size: 16px;
    height: 53px;
    line-height: 2.5;
    &:hover{
      background: none !important;
      color:$button_background !important;
    }
  }
  .btn-primary.prev{
    /*background: #fff !important;*/
    float: left;
    background: none !important;
    border:1px solid $purple !important;;
    color:$purple  !important;
    /*font-weight: bold;*/
    font-size: 16px;
    height: 53px;
    line-height: 2.5;
    &:hover{
      background: $button_background !important;
      color:#fff !important;
    }
  }
  .btn.edit,
  .btn.delete{
    height: 40px;
    line-height: 1.75;
  }
  .btn.red{
    background: $red !important;
    border-color:$red !important;;
    color:#fff !important;
    font-weight: bold;
    line-height: 2.5;
    &:hover{
      background: #fff !important;
      color:$red !important;
    }
  }
  .btn.back{
    background: none !important;
    color:$bleu !important;
    border:none !important;
  }
}
@media (max-width:$breakpoint) {
  .theme_4{
    .btn-primary.next{
      &:hover{
        background: $button_background !important;
        color:#fff !important;
      }
    }
    .btn-primary.prev{
      float: left;
      &:hover{
        background: none !important;
        color:$button_background !important;
      }
    }
    .btn-primary.prev,
    .btn-primary.next{
      font-size: 16px;

    }
  }
}
